.backbutton {
    background-color: darkgray;
    transform: translate(0%, 10%);
    width: 80px;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    user-select: none;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}