.body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    overflow: hidden;
}

.anouncement {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
}

.topbar {
    background: -webkit-linear-gradient(90deg, hsla(332, 91%, 91%, 1) 0%, hsla(234, 26%, 33%, 1) 127%);
    width: 9000px;
    height: 50px;
    top: 0px;
    position: relative;
    margin-left: -10;
    margin-top: -8;
}

.moai {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    user-select: none;
    color: black;
    text-align: center;
    border-color: hsla(234, 26%, 33%, 1);
    border-style: solid;
    border-width: 1.5px;
    width: 20%;
    height: 47px;
    top: 0px;
    position: fixed;
    cursor: pointer;
}

.uptest {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    user-select: none;
    color: black;
    text-align: center;
    border-color: hsla(234, 26%, 33%, 1);
    border-style: solid;
    border-width: 1.5px;
    width: 20%;
    height: 47px;
    top: 0px;
    position: fixed;
    transform: translate(106%, 0%);
    cursor: pointer;
}

.oldprojects {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    user-select: none;
    color: black;
    text-align: center;
    border-color: hsla(234, 26%, 33%, 1);
    border-style: solid;
    border-width: 1.5px;
    width: 250px;
    height: 47px;
    top: 0px;
    position: static;
    float: right;
    transform: translate(8%, -274%);
    cursor: pointer;
}