.body {
    background-image: url(/images/background.jpg);
}

.anouncement {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
}

.topbar {
    width: 9000px;
    background-color: black;
    height: 50px;
    top: 0px;
    position: relative;
    margin-left: -10;
    margin-top: -8;
}

.moai {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    user-select: none;
    color: white;
    text-align: center;
    border-color: gray;
    border-style: solid;
    border-width: 1.5px;
    width: 20%;
    height: 47px;
    top: 0px;
    position: fixed;
}

.new {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    user-select: none;
    color: white;
    text-align: center;
    border-color: gray;
    border-style: solid;
    border-width: 1.5px;
    width: 20%;
    height: 47px;
    top: 0px;
    position: fixed;
    transform: translate(106%, 0%);
}