html {
    height: 100%;
    overflow: hidden;
  }

body {
    background-color: gray;
    height: 100%;
    counter-reset: counterd;
    overflow: hidden;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
}

.isbutton {
    transform: translate(-50%, -50%);
    background-color: aqua;
    border-radius: 8%;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.istext {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.reseted {
    background-color: darkgrey;
    border-radius: 18%;
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    user-select: none;
    transform: translate(-50%, 250%);
    position: absolute;
    top: 0;
    width: 100px;
    height: 30px;
}
