@keyframes test {
    20%   {background-color: red;}
    40%   {background-color: orange;}
    60%  {background-color: yellow;}
    80%  {background-color: lime;}
    90% {background-color: blue;}
   }
   .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: purple;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    animation-name: test;
    animation-duration: 0.01s;
    animation-iteration-count: 1000000000;
    width: 200px;
    height: 200px;
   }
   
   .button:hover {background-color: #3e8e41}
   
   .button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(6px);
   }

.backbutton {
    background-color: darkgray;
    transform: translate(0%, 10%);
    width: 140px;
    height: 60px;
    border-radius: 9px;
    text-align: center;
    user-select: none;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}