html {
    height: 100%;
    overflow: hidden;
  }

body {
    background-image: url('/moai/images/favicon.ico');
    height: 100%;
    counter-reset: counterd;
    overflow: hidden;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
}

.isbutton {
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 8%;
    padding: 25px;
    width: 500px;
    height: 500px;
}

.istext {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 180px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transform: translate(-51%, -295%);
    pointer-events: none;
}

.reseted {
    background-color: darkgrey;
    border-radius: 18px;
    font-size: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    user-select: none;
    transform: translate(-50%, 250%);
    position: absolute;
    top: 0;
    width: 400px;
    height: 120px;
}

.bigbutton {
    background-color: darkgray;
    transform: translate(-110%, -1000%);
    width: 250px;
    height: 100px;
    border-radius: 18px;
    text-align: center;
    user-select: none;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    top: 565px;
}

.smallbutton {
    background-color: darkgray;
    transform: translate(10%, -1000%);
    width: 250px;
    height: 100px;
    border-radius: 18px;
    text-align: center;
    user-select: none;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    top: 565px;
}